<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="POM Stand Alone Test">
    <classes>
      <class name="Selenium.POMStandAloneTest"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="Selenium.ErrorValidationsTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
